<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/soeren.css">

<link rel="alternate" title="{{.Site.BaseURL}}" type="application/rss+xml" href="{{.Site.BaseURL}}/index.xml">

<link rel="shortcut icon" href="{{.Site.BaseURL}}/favicon.ico" />

{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>