:root {
    --pink-strong: #FF4081;
    --pink-weak: #FF80AB;
    --yellow-strong: #FFD54F;
    --yellow-weak: #FFECB3;
    --blue-strong: #2196F3;
    --blue-weak: #64B5F6;
    --notice-color: black;
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --notice-color: white;
    }    
  }

.pink {
    color: var(--notice-color);
    background-color: var(--pink-weak);
  }

  .yellow {
    color: var(--notice-color);
    background-color: var(--yellow-weak);
  }